@import "../../../styles/variables";

.singleRecipy :global {
  margin: 70px 0;

  h1 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 27px;
    margin-bottom: 20px;
  }
  .image {
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }

  p {
    font-weight: 500;
    margin: 15px 0;
    line-height: 1.7;
    color: $c-p;

    a {
      text-decoration: underline;
    }
  }

  .ingrediants {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid $c-p;
    h3 {
      font-weight: bold;
    }

    ul {
      li {
        span {
          color: $c-p;
        }
      }
    }
  }
}
